* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.header {
  color: white;
  background-color: #0066ff;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header:hover {
  background-color: #ff0000;
}

.slideshow-container {
  width: 350px;
  height: 254px;
  margin: 100px auto;
  overflow: hidden;
  border: 5px dashed white;
  position: relative;
  display: flex;
}

.slideshow-slide {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-size: contain; */
  background-position: center;
}

.playerBios {
  color: white;
  text-align: center;
}

#nbalogo {
  background-size: contain;
  height: 50px;
}
#kobelogo {
  background-size: contain;
  height: 50px;
}

#prevButt {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: orange;
  opacity: 0.5;
  cursor: pointer;
}
#nextButt {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  opacity: 0.5;
  color: orange;
  cursor: pointer;
}
