* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: black;
  max-width: 100%;
}

.header {
  color: white;
  background-color: #0066ff;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header:hover {
  background-color: #ff0000;
}
.title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  font-weight: bold;
}

.slideshow-container {
  width: 350px;
  height: 254px;
  margin: 120px auto;
  overflow: hidden;
  border: 5px dashed white;
  position: relative;
  display: flex;
}

.slideshow-slide {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-size: contain; */
  background-position: center;
}

.playerNames {
  color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: -75px;
  text-decoration: underline;
}
.playerBios {
  color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  margin-top: -100px;
  line-height: 30px;
}

#nbalogo {
  background-size: contain;
  height: 70px;
}
#kobelogo {
  background-size: contain;
  height: 70px;
}

#prevButt {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: orange;
  opacity: 0.5;
  cursor: pointer;
}
#nextButt {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  opacity: 0.5;
  color: orange;
  cursor: pointer;
}

@media (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 1.2rem;
  }
}
@media (min-width: 1100px) {
  body {
    font-size: 1.5rem;
  }
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 479px) {
  body {
    width: 100%;
  }
}
